html {
  background: url(./Assets/BG1.png) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 1040px;
}

#hurriLogo img {
  position: absolute;
  width: 91px;
  height: 92px;
  left: 17px;
  top: 10px;
  border-radius: 3px;
  cursor: pointer;
}
#hurriLogo .gif-file {
  position: absolute;
  width: 91px;
  height: 92px;
  left: 17px;
  top: 10px;
  border-radius: 3px;
  display:none;
}


h3 {
  /* Xaloc Corp. */
  position: absolute;
  width: 137px;
  height: 29px;
  left: 0px;
  top: 995px;

  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;

  color: #C4C4C4;
}

#top {
  position: absolute;
  width: 1920px;
  height: 111px;
  left: 0px;
  top: 1px;

  background: #0a0a0a;
  filter: blur(1px);
}



/* scrollbar*/
::-webkit-scrollbar {
  display: none;
}